.itim-font {
    font-family: 'Itim', cursive;
    font-size: 33px;
}
.navbar-brand {
    font-size: 45px;
}
.transparent-text {
    color: rgba(0, 0, 0, 0.43);
}
.image-max-size {
    max-width: 200px;
    max-height: 200px;
}