{% extends "index.html" %}

{% block content %}
        <div class="col-md-8">
            {% for category in categories %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{category.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Reviews:</h6>
                        
                        <div class="d-flex flex-nowrap overflow-auto">
                        {% for review in category.reviews.all %}
                            <div class="card" style="width: 18rem; flex-shrink: 0; margin-right: 15px;">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <p>Text: {{ review.review_text }}</p>
                                        <p>Rate: {{ review.rate }}</p>
                                        <p>Creator: {{ review.creator }}</p>
                                        <p>Published: {{ review.pub_date }}</p>
                                    </li>
                                </ul>
                            </div>
                        {% empty %}
                            <div>No reviews for this category.</div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}
