{% extends "index.html" %}
{% load widget_tweaks %}

{% block content %}

    <!-- <div class="container">
        <div class="row"> -->
            <div class="col-md-8">
                {% for category in categories %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Reviews:</h6>
                            
                            <div class="d-flex flex-nowrap overflow-auto">
                                {% for review in category.reviews.all %}
                                    <div class="card" style="width: 18rem; flex-shrink: 0; margin-right: 15px;">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <a href="{% url 'review_detail' review.id %}" class="no-underline-link" style="text-decoration: none; color: black;">
                                                    <p>Title: {{ review.review_text }}</p>
                                                    {% if review.image %}
                                                        <img class="image-max-size" src="{{ review.image.url }}" alt="{{ review.review_text }}">
                                                    {% endif %}
                                                    <!-- <p>Rate: {{ review.rate }}</p>
                                                    <p>Creator: {{ review.creator }}</p>
                                                    <p>Published: {{ review.pub_date }}</p> -->
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                {% empty %}
                                    <div>No reviews for this category.</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <div class="col-md-4">
                <button id="toggleFormButton" class="btn btn-secondary btn-block mb-4">Add Review</button>
                <div id="reviewForm" class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Add a Review</h5>
                        {% if not user.is_authenticated %}
                            <div class="alert alert-warning" role="alert">
                                You need to be logged in to add a review.
                            </div>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <form method="POST" action="{% url 'create_review' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.review_text.id_for_label }}" class="my-label">Review Text:</label>
                                {{ form.review_text|attr:"class:form-control my-class"|attr:"placeholder:Enter review text" }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.category.id_for_label }}" class="my-label">Category:</label>
                                {{ form.category|attr:"class:form-control my-class"|attr:"placeholder:Enter category" }}
                                <button type="button" class="btn btn-outline-secondary" onclick="addCategory()">Add Category</button>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.description.id_for_label }}" class="my-label">Description:</label>
                                {{ form.description|attr:"class:form-control my-class"|attr:"placeholder:Enter description" }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.image.id_for_label }}" class="my-label">Image:</label>
                                {{ form.image|attr:"class:form-control my-class"|attr:"style:max-width:200px; max-height:200px;" }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.rate.id_for_label }}" class="my-label">Rate:</label>
                                <h5 class="text-muted">Enter a number between 1 (worst) and 5 (best).</h5>
                                {{ form.rate|attr:"class:form-control my-class" }}
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        
                        {% endif %}
                    </div>
                </div>
            </div>
        <!-- </div>
    </div> -->

    <script>
        function addCategory() {
            var html = '<div class="form-group mt-1" id="category-input">' +
                '<input type="text" name="category" class="form-control my-class" placeholder="Enter category">' +
                '</div>';

            if (!document.querySelector('#category-input')) {
                var addCategoryButton = document.querySelector('.btn.btn-outline-secondary');
                var newElement = document.createRange().createContextualFragment(html);
                addCategoryButton.parentNode.insertBefore(newElement, addCategoryButton);
            }

            var categoryName = document.querySelector('#category-input input').value;

            if (categoryName) {
                $.post("/create_category/", { name: categoryName })
                    .done(function(data) {
                        // Store form values
                        var reviewText = document.querySelector('[name="review_text"]').value;
                        var description = document.querySelector('[name="description"]').value;
                        var rate = document.querySelector('[name="rate"]').value;
                        sessionStorage.setItem('reviewText', reviewText);
                        sessionStorage.setItem('description', description);
                        sessionStorage.setItem('rate', rate);

                        // alert("Category created successfully!");
                        location.reload();
                    })
                    .fail(function(xhr, status, error) {
                        alert("An error occurred: " + error);
                    });
            }
        }
        
        window.onload = function() {
            var reviewText = sessionStorage.getItem('reviewText');
            var description = sessionStorage.getItem('description');
            var rate = sessionStorage.getItem('rate');

            if (reviewText) {
                document.querySelector('[name="review_text"]').value = reviewText;
                sessionStorage.removeItem('reviewText'); // Clear the value from storage
            }
            if (description) {
                document.querySelector('[name="description"]').value = description;
                sessionStorage.removeItem('description'); // Clear the value from storage
            }
            if (rate) {
                document.querySelector('[name="rate"]').value = rate;
                sessionStorage.removeItem('rate'); // Clear the value from storage
            }
        }

        document.getElementById('toggleFormButton').onclick = function() {
            var form = document.getElementById('reviewForm');
            if (form.style.display === 'none') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        };

        $(document).ready(function() {
            var listItemWidth = $('.list-group-item').width();
            $('.image-max-size').width(listItemWidth);
        });

    </script>

{% endblock %}