{% extends "index.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

{% block content %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="review-text">{{ review.review_text }}</div>
                <div class="description"><strong>Description: </strong>{{ review.description }}</div>
                <div class="mt-3">
                    <strong>Rate: </strong>{{ review.rate }}
                </div>
                <div class="mt-3">
                    <strong>Category: </strong>{{ review.category.name }}
                </div>
                <div class="mt-3">
                    <strong>Creator: </strong>{{ review.creator.username }}
                </div>
                <!-- add image -->
                <div class="mt-3">
                    <strong>Image: </strong>
                    {% if review.image %}
                        <img src="{{ review.image.url }}" alt="Review Image">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-8">
            {% if user.is_authenticated and user == review.creator %}
                <a href="{% url 'edit_review' review.id %}" class="btn btn-primary">Edit</a>
            {% endif %}
        </div>
        <!-- <div class="row mt-4">
            <div class="col-md-8">
              <h2>Add Your Review</h2>
              <form method="post">
                {% csrf_token %}
                {{ form.description }}
                {{ form.rate }}
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
              </form>
            </div>
          </div> -->
    </div>

    <!-- {% if new_review %}
    <div class="row mt-4">
        <div class="col-md-8">
            <h3>Your New Review</h3>
            <div class="review-text">{{ new_review.review_text }}</div>
            <div class="description">{{ new_review.description }}</div>
            <div class="mt-3">
                <strong>Rate: </strong>{{ new_review.rate }}
            </div>
            <div class="mt-3">
                <strong>Category: </strong>{{ new_review.category.name }}
            </div>
            <div class="mt-3">
                <strong>Creator: </strong>{{ new_review.creator.username }}
            </div>
        </div>
    </div>
    {% endif %} -->

{% endblock %}