.itim-font {
    font-family: 'Itim', cursive;
    font-size: 33px;
}
.navbar-brand {
    font-size: 45px;
}
.transparent-text {
    color: rgba(0, 0, 0, 0.43);
}

.custom-rounded {
    border-radius: 25px !important;
}

.no-underline-link {
    text-decoration: none;
    background-color: transparent;
}

.btn-block {
    display: block;
    width: 100%;
}

.image-max-size {
    max-width: 400px;
    max-height: 400px;
}